<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>

  </head>
  <body>
    <div class="container-fluid">
      <div class="row m-t-5">
        <div class="col-md-12 m-t-5">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Titulo</th>
                <th>Cuerpo</th>
                <th>Fecha de Creación</th>
                <th>Persona</th>
                <th>Edad</th>
                <th>País</th>
                <th>¿Activo?</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody id="data"></tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalGeneral" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{% url 'Notes:js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"
      integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
      tableTemplate = (obj) => {
        // componente javascript
        return `<tr>
                <td>${obj.title}</td>
                <td>${obj.body}</td>
                <td>${obj.created}</td>
                <td>${obj.person_name}</td>
                <td>${obj.person_age}</td>
                <td>${obj.person_country}</td>
                <td>${obj.person_active}</td>
                <td class="text-center">${obj.buttons}</td>
              </tr>`;
      };

      get_all_register = () => {
        let url = Django.api_notes_list;
        axios
          .get(url)
          .then((response) => {
            if (response.status == 200) {
              let $data = response.data;
              let html = ``;
              for (i = 0; i < $data.length; i++) {
                html += tableTemplate($data[i]);
              }

              $("#data").empty().append(html);
            }
          })
          .catch((error) => {
            console.log(error);
          });
      };

      get_all_register();

      loadModal=()=>{
        $("#modalGeneral").modal('show');
        console.log(11111111111111111111111111111111111)
        return false;
      }
    </script>
  </body>
</html>
